<h1>Update A Fruit</h1>
<%=form_with model: @fruit do |form|%>
  <%=form.text_field :name, placeholder: "name"%>
  <%=form.text_field :shape, placeholder: "color"%>
  <%=form.text_field :color, placeholder: "shape"%>
  <%=form.submit%>
<% end %>
